/**************全屏首页loading version 1.0*******************/
@charset "UTF-8";
.jbolt_page_loader_main{
	position: fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	min-width: 100%;
	min-height: 100%;
	background-color:white;
	z-index: 9999999;
	margin-top: -61px;
}
.jbolt_page_loader {
	width: 60px;
	height: 60px;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-60px;
	margin-left:-30px;
	z-index: 999999;
	border-radius:30px;
}
.jbolt_page_loader:before {
	content: "";
	width: 50px;
	height:10px;
	border-radius: 50%;
	background-color:#444;
	opacity: 0.1;
	position: absolute;
	top: 59px;
	left: 0;
	animation: shadow .5s linear infinite;
}
.jbolt_page_loader:after {
	content: "";
	width: 50px;
	height: 50px;
	border-radius: 4px;
	background-color: #ff6817;
	position: absolute;
	top: 0;
	left: 0;
	animation: loading .5s linear infinite;
}
@-webkit-keyframes loading {
	17% {
		border-bottom-right-radius: 4px;
	}
	25% {
		transform: translateY(9px) rotate(22.5deg);
	}
	50% {
		transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 40px;
	}

	75% {
		transform: translateY(9px) rotate(67.5deg);
	}
	100% {
		transform: translateY(0) rotate(90deg);
	}
}
@keyframes loading {
	17% {
		border-bottom-right-radius: 4px;
	}
	25% {
		transform: translateY(9px) rotate(22.5deg);
	}
	50% {
		transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 40px;
	}
	75% {
		transform: translateY(9px) rotate(67.5deg);
	}
	100% {
		transform: translateY(0) rotate(90deg);
	}
}
@-webkit-keyframes shadow {
	0%,
	100% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.2, 1);
	}
}
@keyframes shadow {
	0%,
	100% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.2, 1);
	}
}
