@charset "UTF-8";
/*******项目特殊使用css在这里定义*******/

::-webkit-scrollbar-track {
    width: 16px;
    /*background-color:#0d1b20;*/
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}

/*滚动条的设置*/
::-webkit-scrollbar-thumb {
    background-color:#a6a6a6;
    background-clip:padding-box;
    min-height:28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    /*border-radius:2em;*/
    border-radius: 0;
}
/*滚动条移上去的背景*/
/*
::-webkit-scrollbar-thumb:hover {
    background-color:#fff;
}*/

/* 自定义配色方案 */
.jbolt_admin.jbolt_style_6.hideMenu  nav.jbolt_admin_nav.test>ul,
.jbolt_admin.jbolt_style_6.hideMenu  nav.jbolt_admin_nav.expansion.test>ul,
.jbolt_admin.jbolt_style_6.hideMenu  nav.jbolt_admin_nav:hover>ul,
.jbolt_admin.jbolt_style_6.hideMenu  nav.jbolt_admin_nav:active>ul,
.jbolt_admin.jbolt_style_6.hideMenu  nav.jbolt_admin_nav.expansion:hover>ul,
.jbolt_admin.jbolt_style_6.hideMenu  nav.jbolt_admin_nav.expansion:active>ul{
    background-color: #FFFFFF;
}
.jbolt_admin.jbolt_style_6 .jbolt_admin_nav ul.jbolt_admin_menus>h3 {
    color:#333;
    border-bottom: 1px solid #F5F5F5;
    background-color: #ffffff;
}
.jbolt_admin.jbolt_style_6 .jbolt_admin_logo_box{
    background-color: #1890ff;
    color:#ffffff;
    font-weight: 700;
}
.jbolt_admin.jbolt_style_6 .jbolt_admin_main_top{
    background-color: #1890ff;
    color:#FFFFFF;
}

.jbolt_admin.jbolt_style_6 .jbolt_admin_left{
    background-color: #EAEDF1;
}

.jbolt_admin.jbolt_style_6 .jbolt_admin_nav .dashboard,
.jbolt_admin.jbolt_style_6 .jbolt_admin_nav .jbolt_menu_group,
.jbolt_admin.jbolt_style_6 .jbolt_admin_nav .jbolt_menu_group span {
    color: #333333;
    font-size: 16px;
}

.jbolt_admin.jbolt_style_6 .jbolt_admin_nav .jbolt_menu_group:hover ,
.jbolt_admin.jbolt_style_6 .jbolt_admin_nav .jbolt_menu_group:hover span{
    background-color: #F8F8F8;
}
.jbolt_admin.hideMenu.jbolt_style_6 .jbolt_admin_nav .jbolt_menu_group:hover ,
.jbolt_admin.hideMenu.jbolt_style_6 .jbolt_admin_nav .jbolt_menu_group:hover span{
    background-color: #F5F5F5;
}

.jbolt_admin.hideMenu.jbolt_style_6 .jbolt_admin_nav .jbolt_menu_group:hover i.fa:FIRST-CHILD,
.jbolt_admin.hideMenu.jbolt_style_6 .jbolt_admin_nav .jbolt_menu_group:hover i.jbicon:FIRST-CHILD,
.jbolt_admin.hideMenu.jbolt_style_6 .jbolt_admin_nav .jbolt_menu_group:hover i.jbicon2:FIRST-CHILD{
    color:#2d7df7;
}

.jbolt_admin.jbolt_style_6 .jbolt_admin_nav.expansion>ul.jbolt_admin_menus {
    display: block;
    height: auto;
    background-color: #F8F8F8;
}

.jbolt_admin.jbolt_style_6 .jbolt_admin_nav ul li a{
    color:#333;
}

.jbolt_admin.jbolt_style_6 .jbolt_admin_nav ul li a:hover{
    color:#6aa5ff!important;
    background-color: rgba(0,0,0,0.03);
}
.jbolt_admin.jbolt_style_6 .jbolt_admin_nav ul li a.active{
    color:#1890ff!important;
}

.jbolt_admin.jbolt_style_6 .jbolt_admin_nav ul>li.has_items+ul{
    background-color: #F2F2F2;
}

.jbolt_admin.jbolt_style_6 .jbolt_admin_nav ul li a.active{
    background-color: rgba(225,241,255,1);
}

.jbolt_admin.hideMenu.jbolt_style_6 ul.jbolt_admin_menus>li+ul {
    background-color: #FAFAFA;
}

.jbolt_admin.jbolt_style_6 .jbolt_admin_main_top ul.jbolt_admin_topnavs>li:hover,
.jbolt_admin.jbolt_style_6 .jbolt_admin_main_top ul.jbolt_admin_topnavs>li.active{
    background-color:#507995;
}

/* 表头配色方案 */
.table .thead-blue th {
    color: #fff;
    background-color: #3c8dbc;
    font-size: 16px;
    font-weight: bold;
}

/**
 * 所有按钮字体加粗
 */
.btn {
    font-weight: bold;
}

/**
 * 按钮悬浮底色
 */
.btn:hover {
    background-color: #bfd8f2;
    color: #0c0c0c;
}